* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.header {
  background-color: #000;
  display: flex;
}

.header__logo {
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 10%;
}

.header__navigation {
  margin-top: 56px;
  margin-left: 29%;
}

.header__links {
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}

.header__links:hover {
  border-bottom: 3px solid #fcac45;
}

.header__icon {
  display: none;
}

.text_transform {
  text-transform: uppercase;
}

.link_color {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .header__navigation {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1105px) {
  .header__navigation {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1010px) {
  .header__links {
    display: none;
  }

  .header__icon {
    float: right;
    display: block;
    margin-top: -17px;
    font-size: 25px;
  }

  .header__navigation {
    width: 100%;
  }

  .responsive {
    position: relative;
    top: 50px;
    left: -200px;
    height: 340px;
  }

  .responsive .header__icon {
    position: absolute;
    top: -50px;
    right: -200px;
  }

  .responsive .header__links {
    float: none;
    display: block;
    text-align: left;
  }
}
